# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage

# Editors/OS
.vscode/
.idea/
.DS_Store

# Docker
postgres_data/
